<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/thales-icon.jpg" alt="thales icon" width="100px" class="d-inline-block align-text-top">
     >_ EMPLOYEES
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link disabled">Thales test to apply senior developer</a>
      <a class="nav-link active" href="#">Data Exam<span class="sr-only"></span></a>
      <a class="nav-link" target="_blank" href="http://localhost:8082/swagger/swagger-ui/index.html#/">Go to swagger ui</a>
      <a class="nav-link" target="_blank" href="http://localhost:8082/v3/api-docs/thales-apis">Go to open-api specification</a>
    </div>
  </div>
</nav>


