<div class="card text-center border-primary mb-3">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link disabled">Table List</a>
      </li>
      <li class="nav-item">
        <form class="d-flex" role="search">
          <input #search class="form-control me-2" id="search" type="search" placeholder="Search employee by id" aria-label="Search">
          <button class="btn btn-outline-success" (click)="findOne()" type="button">Search</button>
        </form>
      </li>
      <li class="nav-item" style="margin-left: 10px;;">
        <button type="button" class="btn btn-primary" (click)="refreshElements();">
          Reload
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Thales/dummy employees table</h5>
    <table class="table table-bordered table-striped">
      <caption>
        thales exam elements table
        <h4 *ngIf="!employees?.length">If you are not watching any element, please clicking "Reload" button to get data, sometimes dummy data source doesn't work well</h4>
      </caption>
      <thead class="table-light">
        <tr>
          <th></th>
          <th>id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Salary</th>
          <th>Anual Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>
            <img *ngIf="employee?.profileImage" src="{{ employee.profileImage }}" alt="employee photo" class="img-thumbnail rounded" style="width: 64px; cursor:pointer">
            <img *ngIf="!employee?.profileImage" src="/assets/img/no-user.png" alt="default photo" class="img-thumbnail rounded" style="width: 64px; cursor:pointer">
          </td>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.age }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.anualSalary }}</td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openUpdateDialog(employee);">View</button>
            <!--<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openUpdateDialog(employee);">Update</button>-->
            <!--<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdropDel" (click)="openDeleteDialog(employee);">Delete</button>-->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Create / Update Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- <form (ngSubmit)="createUpdate()"> -->
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{modaltitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group row" *ngIf="modalButtonText !== 'Create'" hidden>
                <label for="name" class="col-form-label col-sm-2">id</label>
                <div class="col-sm-6">
                    <input type="text" class="form-comtrol" [(ngModel)]="employee.id" name="id" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-form-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-comtrol" [(ngModel)]="employee.name" name="name" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="age" class="col-form-label col-sm-2">age</label>
                <div class="col-sm-6">
                    <input type="text" class="form-comtrol" [(ngModel)]="employee.age" name="age" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="salary" class="col-form-label col-sm-2">salary</label>
                <div class="col-sm-6">
                    <input type="text" class="form-comtrol" [(ngModel)]="employee.salary" name="salary" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="anualSalary" class="col-form-label col-sm-2">Anual Salary</label>
                <div class="col-sm-6">
                    <input type="text" class="form-comtrol" [(ngModel)]="employee.anualSalary" name="anualSalary" readonly>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--<button role="button" class="btn btn-primary" data-bs-dismiss="modal">{{modalButtonText}}</button>-->
        </div>
      
    </form>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="staticBackdropDel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelDel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelDel">{{modaltitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿are you sure you want to delete this item?: {{employee.id}} - {{employee.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="deleteElement(employee.id)">DELETE</button>
      </div>
    </div>
  </div>
</div>